$header-bg-color: #fff;
$header-bg-color-home: rgba(230, 230, 230, .75);
$header-border-color: $header-bg-color-home;
$header-text-color: #191919;
$header-icon-color: $color1;
 
$resp-nav-icon-color: #000;

$nav-text-hover-color: $color1;
$nav-submenu-bg-color:#333333;
$nav-submenu-text-color:#191919;
$nav-submenu-border-color:#444;
$nav-submenu-top-border-color:$color1;

$secondary-menu-text-bg-hover-color: #fff;
$secondary-menu-text-color: #8994a0;
$secondary-menu-text-hover-color: #8994a0;

$search-icon-active-color: $color1; 
$live-search-bg-color: #fff;
$live-search-input-text-color: #000;
$live-search-input-border-color: #b8b8b4; 

$mobile-contact-bg: #fff; 
$mobile-contact-text-color: $color1;

$center-menu-text-bg-hover-color: #fff;
$center-menu-text-color: #fff;
$center-menu-text-hover-color: #333333;